<%- include('../partials/top.ejs') %>
    <!-- sidebar -->
    <%- include('../partials/sidebar.ejs') %>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <%- include('../partials/header.ejs') %>
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Yapılmış olan önceki işlemler - tamamlanma tarihi
                                eklenecek</h1>
                        </div>

                        <div class="row">

                            <div class="container-fluid px-2">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">İşlemler Listesi</h6>
                                    </div>
                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Marka - Plaka</th>
                                                        <th>İşlem Türü</th>
                                                        <th>Yapıldığı Tarih</th>
                                                        <th>İşlem</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Yeni İşlem Ekle</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/add-operation" method="post">
                                <div class="mb-2">
                                    <select name="arac_id" class="form-control bg-light border-0 small">
                                        <option value="">Marka Seçiniz</option>

                                    </select>
                                </div>
                                <div class="mb-2">
                                    <select onchange="handleSelectOperation(this)" name="islem_id"
                                        class="form-control bg-light border-0 small">
                                        <option value="">İşlem Türü Seçiniz</option>
                                    </select>
                                </div>
                                <div class="mt-2"
                                    style="display: flex; column-gap: 2px; align-items: center; margin-bottom: 0;">
                                    <label style="width: 120px;" class="mb-0">İşlem Tarih</label>
                                    <input name="yapilan_tarih" type="date"
                                        class="form-control bg-light border-0 small">
                                </div>
                                <div id="yapilacak_tarih" class="mt-2"
                                    style="display: flex; column-gap: 2px; align-items: center; margin-bottom: 0;">
                                    <label style="width: 120px;" class="mb-0">Sonraki Tarih</label>
                                    <input name="yapilacak_tarih" type="date"
                                        class="form-control bg-light border-0 small">
                                </div>
                                <div class="mt-2">
                                    <input id="sonraki_km" name="km" type="text"
                                        class="form-control bg-light border-0 small"
                                        placeholder="Sonraki işlem km Giriniz">
                                    <div class="mt-2">
                                        <input name="fiyat" type="text" class="form-control bg-light border-0 small"
                                            placeholder="Fiyat Giriniz">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-danger"
                                            data-dismiss="modal">İptal</button>
                                        <button type="submit" class="btn btn-sm btn-success">Kaydet</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->
            <%- include('../partials/footer.ejs') %>